<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		 id="WebApp_ID" version="3.0">
  <display-name>Dev_Chapter_1</display-name>
  <welcome-file-list>
    <welcome-file>username.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet_one</servlet-name>
    <servlet-class>com.java.cyanicviews.SampleServlet</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>Faisal</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_one</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
</web-app>